services:

  # CONFIG SERVER REPLICA SET
  configsvr:
    image: mongo:7
    command: mongod --configsvr --replSet configReplSet --port 27017
    ports:
      - 27019:27017
    volumes:
      - ./data/configsvr:/data/db
    networks:
      - mongo-cluster

  # SHARD 1
  shard1:
    image: mongo:7
    command: mongod --shardsvr --replSet shard1ReplSet --port 27017
    ports:
      - 27021:27017
    volumes:
      - ./data/shard1:/data/db
    networks:
      - mongo-cluster

  # SHARD 2
  shard2:
    image: mongo:7
    command: mongod --shardsvr --replSet shard2ReplSet --port 27017
    ports:
      - 27022:27017
    volumes:
      - ./data/shard2:/data/db
    networks:
      - mongo-cluster

  # SHARD 3
  shard3:
    image: mongo:7
    command: mongod --shardsvr --replSet shard3ReplSet --port 27017
    ports:
      - 27023:27017
    volumes:
      - ./data/shard3:/data/db
    networks:
      - mongo-cluster

  # MONGOS ROUTER
  mongos:
    image: mongo:7
    command: >
      mongos --configdb configReplSet/configsvr:27017 --bind_ip_all
    depends_on:
      - configsvr
      - shard1
      - shard2
      - shard3
    ports:
      - 27020:27017
    networks:
      - mongo-cluster

networks:
  mongo-cluster:
    driver: bridge
